In [1]:
!pip install alpha_vantage

Collecting alpha_vantage
  Using cached https://files.pythonhosted.org/packages/7a/6c/81c7f1c58064cb2ce808edc6c4cdb3241f70bf8cd158289540cdf9fe0204/alpha_vantage-2.1.0.tar.gz
Requirement already satisfied: requests in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from alpha_vantage) (2.20.1)
Requirement already satisfied: idna<2.8,>=2.5 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests->alpha_vantage) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests->alpha_vantage) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests->alpha_vantage) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests->alpha_vantage) (2018.8.24)
Building wheels for collected packages: alpha-vantage
  Running setup.py bdist_wheel for alpha-vantage ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/21/9c/02/b7cfae63f7119f4089f229ba1a09ce90fabbaf96199c2890be
Successfully built alpha-vantage
Installing collected packages: alpha-vantage
Successfully installed alpha-vantage-2.1.0
You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [7]:
import pandas as pd
from pandas import DataFrame
import argparse
# import quandl
# import pandas_datareader as web
from time import sleep
import datetime as dt
import sys
from alpha_vantage.timeseries import TimeSeries
from alpha_vantage.techindicators import TechIndicators
from alpha_vantage.sectorperformance import SectorPerformances
from alpha_vantage.cryptocurrencies import CryptoCurrencies
import os
import pickle

from alpha_vantage.timeseries import TimeSeries
import csv
import pickle
import numpy as np
import os
import ta
import time


from alpha_vantage.timeseries import TimeSeries
import csv
import pickle
import numpy as np
import os
import ta
import time
import pandas as pd
import numpy as np
import pandas as pd
import numpy as np
import tensorflow as tf

import pandas as pd
import seaborn as sns

import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
from sklearn.preprocessing import StandardScaler
from keras.layers import Input, Flatten
from keras.models import Model
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Dropout
import time
import math
from keras.models import Sequential
from keras.layers.core import Dense, Dropout, Activation
from keras.layers.recurrent import LSTM
import numpy as np
import pandas as pd
import sklearn.preprocessing as prep
from sklearn.preprocessing import StandardScaler
NB_FEATURES = 30

API_KEY = 'TZZ9RPNH9YGP8SXX'

SYM_FILE = 'S&p500companies.csv'

TRAIN_DATA_DIR = 'data'
WINDOW_SIZE = 60 #chnged from 60

# TS = TimeSeries(key=API_KEY, output_format='pandas')
# import os
# RAW_DATA_DIR = 'raw_data'
# def load_dataset_from_disk(save_dir,stock):
#     with open(os.path.join(save_dir, stock), 'rb') as f:
#         transformers = pickle.load(f)
#     return transformers
# # bbt=load_dataset_from_disk(RAW_DATA/_DIR,"BBT")
# alxn=load_dataset_from_disk(RAW_DATA_DIR,"ALXN")
# gs=load_dataset_from_disk(RAW_DATA_DIR,"GS")
# dataset = gs["data"]
# dataset.columns=['Open', 'High', 'Low', 'Close','Volume']
# dataset.head()

In [3]:
# dataset=pd.read_csv('GS')
# dataset.head()
alxn=load_dataset_from_disk(RAW_DATA_DIR,'ABT')

EOFError:

In [8]:
!pip install quandl
import quandl

Collecting quandl
  Using cached https://files.pythonhosted.org/packages/03/ad/d6c0e4a919a9b17300b32cd987cf11a3b13660852930b32d9f330120e48b/Quandl-3.4.5-py2.py3-none-any.whl
Requirement already satisfied: more-itertools in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (4.1.0)
Requirement already satisfied: requests>=2.7.0 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (2.20.1)
Collecting inflection>=0.3.1 (from quandl)
  Using cached https://files.pythonhosted.org/packages/d5/35/a6eb45b4e2356fe688b21570864d4aa0d0a880ce387defe9c589112077f8/inflection-0.3.1.tar.gz
Requirement already satisfied: six in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (1.11.0)
Requirement already satisfied: pandas>=0.14 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (0.22.0)
Requirement already satisfied: numpy>=1.8 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (1.14.5)
Requirement already satisfied: python-dateutil in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from quandl) (2.7.3)
Requirement already satisfied: idna<2.8,>=2.5 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests>=2.7.0->quandl) (2.6)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests>=2.7.0->quandl) (1.22)
Requirement already satisfied: certifi>=2017.4.17 in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from requests>=2.7.0->quandl) (2018.8.24)
Requirement already satisfied: pytz>=2011k in /home/ec2-user/anaconda3/envs/tensorflow_p27/lib/python2.7/site-packages (from pandas>=0.14->quandl) (2018.4)
Building wheels for collected packages: inflection
  Running setup.py bdist_wheel for inflection ... done
  Stored in directory: /home/ec2-user/.cache/pip/wheels/9f/5a/d3/6fc3bf6516d2a3eb7e18f9f28b472110b59325f3f258fe9211
Successfully built inflection
Installing collected packages: inflection, quandl
Successfully installed inflection-0.3.1 quandl-3.4.5
You are using pip version 10.0.1, however version 19.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [65]:


# fill missing values with a value at the same time one day ago
def fill_missing(values):
	one_day = 60 * 24
	for row in range(values.shape[0]):
		for col in range(values.shape[1]):
			if isnan(values[row, col]):
				values[row, col] = values[row - one_day, col]

# evaluate one or more weekly forecasts against expected values
def evaluate_forecasts(actual, predicted):
	scores = list()
	# calculate an RMSE score for each day
	for i in range(actual.shape[1]):
		# calculate mse
		mse = mean_squared_error(actual[:, i], predicted[:, i])
		# calculate rmse
		rmse = sqrt(mse)
		# store
		scores.append(rmse)
	# calculate overall RMSE
	s = 0
	for row in range(actual.shape[0]):
		for col in range(actual.shape[1]):
			s += (actual[row, col] - predicted[row, col])**2
	score = sqrt(s / (actual.shape[0] * actual.shape[1]))
	return score, scores

In [6]:
import quandl
# quandl.ApiConfig.api_key = "YOURAPIKEY"
#  start_date="2000-01-01"
quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK'
# quandl.get_table('ZACKS/EE',per_end_date='2019-09-30', ticker='AAPL')

#Expand on this  to get more earnings and EPS""?

ImportError: No module named quandl

In [136]:
quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK'
dataset.head()

        Date   Value
0 1979-01-02  226.80
1 1979-01-03  218.60
2 1979-01-04  223.15
3 1979-01-05  225.50
4 1979-01-08  223.10

# Merging Data

In [10]:
dataset=quandl.get("BOE/XUDLGPD") #Fed Funds Rate 
dataset
# quandl.get("CUR/GBP", authtoken="T5JSsBxpxx1bxJWkyTdK") #USD to GBP

# df1=quandl.get("WGC/GOLD_DAILY_USD", authtoken="T5JSsBxpxx1bxJWkyTdK")## Gold Prices 

# dataset.reset_index(level=0, inplace=True)
# df1.reset_index(level=0, inplace=True)
# result = pd.concat([dataset, df1], axis=1, join_axes=[dataset.index])

# result1=pd.concat([dataset,df1]) dataset.merge(df1, left_index=True) pd.merge_asof(dataset, df1,on='Date')
# combined=pd.concat(df1, dataset, how="left")
# combined.tail()

LimitExceededError: (Status 429) (Quandl Error QELx01) You have exceeded the anonymous user limit of 50 calls per day. To make more calls today, please register for a free Quandl account and then include your API key with your requests.

In [129]:
# # STEPS
# # 1) First, replace your empty cells with NaNs: 
#         df[df[0]==""] = np.NaN
# 2) Fill with prevous 
#         df.fillna(method='ffill')
# right=quandl.get('FRED/NROUST') ##Natural Rate of Unemployment (Short-Term)

# dailyandannual=pd.merge_ordered(left, right, fill_method='ffill', left_by='result.index')
# dailyandannual
# dataset.tail()

# from pandas import read_csv
# from pandas import datetime
 
# def parser(x):
# 	return datetime.strptime('190'+x, '%Y-%m')
 
# series = read_csv('shampoo-sales.csv', header=0, parse_dates=[0], index_col=0, squeeze=True, date_parser=parser)
# upsampled = series.resample('D')
# print(upsampled.head(32))

           Date    Value
9702 2017-05-22  1258.85
9703 2017-05-23  1260.20
9704 2017-05-24  1252.55
9705 2017-05-25  1256.95
9706 2017-05-26  1265.05

In [14]:
# Check time 
quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK'
# quandl.get('ODA/USA_BCA_NGDPD', column_index='1')
# quandl.get('ODA/USA_LE', column_index='1') #Employment, Millions




#Natural Rate of Unemployment (Short-Term)
quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK' 
# quandl.get('FRED/NROUST') ##Natural Rate of Unemployment (Short-Term)
# quandl.get('FRED/NROU') ##Natural Rate of Unemployment (LONG-Term)
# quandl.get('FRED/GDPPOT') #Real Potential Gross Domestic Product
# quandl.get('FRED/NGDPPOT') #Nominal Potential Gross Domestic Product

In [151]:

# ADDED ALRADYU
gold=quandl.get("WGC/GOLD_DAILY_USD", authtoken="T5JSsBxpxx1bxJWkyTdK")## Gold Prices 
sentiment=quandl.get('UMICH/SOC1', column_index='1') #Consumer Sentiment
# sentiment.info()
# # Daily
tenyear=quandl.get("YC/USA10Y", authtoken="T5JSsBxpxx1bxJWkyTdK")# 10 Year bond Yield 
# # tenyear.to_csv("tenyearbondyield.csv")
inflation_index=quandl.get('ODA/USA_PCPI', column_index='1') #Inflation Index, Average Consumer Prices
# inflation_index
stock_market_confidence=quandl.get('YALE/US_CONF_INDEX_VAL_INDIV', column_index='1') # Stock Market Confidence Indices - United States Valuation Index Data - Individual

# standandpoorscomposite=quandl.get('YALE/SPCOMP', column_index='1') # S&P COMPOSITE 
prime_residence_marketvalue=quandl.get('UMICH/SOC22', column_index='1') #Market Value of Primary REsidence
# prime_residence_marketvalue
income_gains_last5_years=quandl.get('UMICH/SOC16', column_index='1') #Income Gains over lat 5 years 
standandpoorscomposite=quandl.get("CHRIS/CME_SP1", authtoken="T5JSsBxpxx1bxJWkyTdK")
standandpoorscomposite=standandpoorscomposite["Settle"]
standandpoorscomposite

Date
1982-04-21     117.45
1982-04-22     117.90
1982-04-23     119.65
1982-04-26     120.55
1982-04-27     118.85
1982-04-28     118.15
1982-04-29     117.60
1982-04-30     117.50
1982-05-03     117.15
1982-05-04     117.80
1982-05-05     117.55
1982-05-06     119.10
1982-05-07     119.65
1982-05-10     118.50
1982-05-11     119.70
1982-05-12     119.55
1982-05-13     118.35
1982-05-14     118.30
1982-05-17     116.60
1982-05-18     116.00
1982-05-19     114.65
1982-05-20     114.95
1982-05-21     114.90
1982-05-24     115.00
1982-05-25     113.75
1982-05-26     112.50
1982-05-27     111.85
1982-05-28     111.00
1982-06-01     110.05
1982-06-02     111.55
               ...
2018-12-19    2503.20
2018-12-20    2485.70
2018-12-21    2458.90
2018-12-24    2341.70
2018-12-26    2470.90
2018-12-27    2494.90
2018-12-28    2486.00
2018-12-31    2505.20
2019-01-02    2511.00
2019-01-03    2447.70
2019-01-04    2531.30
2019-01-07    2550.60
2019-01-08    2572.40
2019-01-09    2582.60
2019-01-10    2594.10
2019-01-11    2595.10
2019-01-14    2580.50
2019-01-15    2605.40
2019-01-16    2613.20
2019-01-17    2635.20
2019-01-18    2671.60
2019-01-22    2631.90
2019-01-23    2638.30
2019-01-24    2634.00
2019-01-25    2663.50
2019-01-28    2641.90
2019-01-29    2640.30
2019-01-30    2682.50
2019-01-31    2704.50
2019-02-01    2704.20
Name: Settle, Length: 9261, dtype: float64

In [147]:
standandpoorscomposite.head()

Date
2017-01-03    2257.83
2017-01-04    2270.75
2017-01-05    2269.00
2017-01-06    2276.98
2017-01-09    2268.90
Name: Close, dtype: float64

In [123]:
quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK'

#ANNUALLY
#gdp_percapita=quandl.get('ODA/USA_NGDPDPC', column_index='1') #GDP per Capita at Current Prices, USD
# gdp_percapita

# monthly below
#MONTHLY
# quandl.ApiConfig.api_key = 'T5JSsBxpxx1bxJWkyTdK'

#quandl.get('YALE/NHPI', column_index='1') # Historical Housing Market Data - Nominal Home Price In
# quandl.get('BP/C02_EMMISSIONS_USA', column_index='1') #ANNUAL CO2 EMMISSIONS
# coal_quandl.get('BP/COAL_PROD_USA', column_index='1') #ANNUAL Coal Production

#has many columns 
#DAily
df1=quandl.get("CHRIS/ICE_G2", authtoken="T5JSsBxpxx1bxJWkyTdK")#Gas Oil Futures, Continuous Contract
oil_futures=df1["Settle"]
oil_futures
df1

,Open,High,Low,Settle,Change,Wave,Volume,Prev. Day Open Interest,EFP Volume,EFS Volume,Block Volume
Date,,,,,,,,,,,
1990-08-17,232.25,240.75,231.50,240.50,NaN,NaN,5534.0,15239.0,NaN,NaN,NaN
1990-08-20,240.50,252.50,240.00,251.50,NaN,NaN,5102.0,16273.0,NaN,NaN,NaN
1990-08-21,256.00,270.00,256.00,265.00,NaN,NaN,8615.0,17475.0,NaN,NaN,NaN
1990-08-22,270.50,278.00,270.00,275.25,NaN,NaN,7442.0,21498.0,NaN,NaN,NaN
1990-08-23,300.00,300.00,283.00,290.50,NaN,NaN,6115.0,20696.0,NaN,NaN,NaN
1990-08-24,287.00,288.25,277.00,281.00,NaN,NaN,6880.0,20696.0,NaN,NaN,NaN
1990-08-28,238.00,247.50,233.50,242.50,NaN,NaN,5826.0,25022.0,NaN,NaN,NaN
1990-08-29,243.00,243.00,223.00,226.00,NaN,NaN,7427.0,23543.0,NaN,NaN,NaN
1990-08-30,223.50,234.75,223.50,234.50,NaN,NaN,7463.0,23538.0,NaN,NaN,NaN
1990-08-31,235.50,242.00,235.50,242.00,NaN,NaN,4211.0,21874.0,NaN,NaN,NaN
1990-09-03,247.00,260.25,247.00,260.00,NaN,NaN,4379.0,22081.0,NaN,NaN,NaN
1990-09-04,263.50,264.50,255.00,261.00,NaN,NaN,8662.0,22821.0,NaN,NaN,NaN
1990-09-05,265.00,267.00,257.50,260.75,NaN,NaN,6984.0,20509.0,NaN,NaN,NaN
1990-09-06,267.50,268.75,263.25,268.25,NaN,NaN,6245.0,22302.0,NaN,NaN,NaN
1990-09-07,268.00,268.50,259.00,260.75,NaN,NaN,7652.0,22954.0,NaN,NaN,NaN
1990-09-10,250.00,255.00,244.00,248.25,NaN,NaN,6119.0,22101.0,NaN,NaN,NaN
1990-09-11,253.00,259.75,250.50,258.00,NaN,NaN,5820.0,23287.0,NaN,NaN,NaN
1990-09-12,253.00,258.00,251.00,255.00,NaN,NaN,6650.0,23332.0,NaN,NaN,NaN
1990-09-13,258.50,263.50,257.50,259.50,NaN,NaN,3111.0,13764.0,NaN,NaN,NaN
1990-09-14,261.50,266.00,260.25,261.50,NaN,NaN,2480.0,14252.0,NaN,NaN,NaN
1990-09-17,265.00,271.00,263.00,269.00,NaN,NaN,3250.0,15502.0,NaN,NaN,NaN
1990-09-18,277.00,281.00,272.00,275.50,NaN,NaN,4587.0,16819.0,NaN,NaN,NaN
1990-09-19,273.50,275.25,269.75,273.50,NaN,NaN,3911.0,17523.0,NaN,NaN,NaN
1990-09-20,281.00,284.75,280.00,284.25,NaN,NaN,5140.0,18058.0,NaN,NaN,NaN
1990-09-21,295.00,301.00,293.50,300.75,NaN,NaN,5504.0,19186.0,NaN,NaN,NaN
1990-09-24,314.00,336.75,312.00,336.50,NaN,NaN,4805.0,19264.0,NaN,NaN,NaN
1990-09-25,338.00,338.00,322.00,327.00,NaN,NaN,6120.0,18945.0,NaN,NaN,NaN
1990-09-26,322.00,325.50,308.00,322.25,NaN,NaN,6030.0,18569.0,NaN,NaN,NaN
1990-09-27,322.50,332.00,313.00,331.25,NaN,NaN,5000.0,19125.0,NaN,NaN,NaN
1990-09-28,334.00,340.50,330.00,339.75,NaN,NaN,5117.0,15589.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2018-12-20,535.00,535.75,518.25,522.00,-16.25,524.66,6064.0,34030.0,NaN,NaN,NaN
2018-12-21,524.75,525.50,506.75,516.50,-5.50,514.34,5337.0,34263.0,NaN,NaN,NaN
2018-12-24,514.00,519.75,491.50,515.25,-1.25,509.65,3015.0,34481.0,NaN,NaN,NaN
2018-12-26,492.75,521.25,486.00,505.75,NaN,499.78,5290.0,35041.0,NaN,NaN,NaN
2018-12-27,512.50,517.00,499.75,506.50,0.75,508.07,8932.0,35714.0,NaN,NaN,NaN
2018-12-28,511.75,512.50,493.25,497.25,-9.25,501.00,8216.0,39396.0,NaN,NaN,NaN
2018-12-31,499.50,514.75,496.75,512.00,14.75,506.98,6140.0,39926.0,NaN,NaN,NaN
2019-01-02,505.50,525.50,493.50,519.75,NaN,510.30,16171.0,41049.0,NaN,NaN,200.0
2019-01-03,507.75,525.00,506.00,513.25,-6.50,514.90,13431.0,42831.0,NaN,NaN,NaN
2019-01-04,518.00,542.00,517.75,529.50,16.25,532.65,19568.0,46323.0,NaN,NaN,234.0
2019-01-07,535.00,547.50,534.50,542.75,13.25,542.50,8226.0,44789.0,NaN,NaN,229.0
2019-01-08,536.75,550.50,536.00,546.75,4.00,544.51,20580.0,44586.0,NaN,NaN,NaN
2019-01-09,552.00,569.25,550.50,561.50,14.75,559.59,13817.0,44042.0,NaN,NaN,NaN
2019-01-10,566.75,575.75,560.75,571.25,9.75,568.24,25799.0,42050.0,NaN,NaN,67.0
2019-01-11,571.50,579.25,564.50,569.25,-2.00,572.11,21422.0,39905.0,NaN,NaN,150.0
2019-01-14,568.25,571.00,554.75,566.75,-2.50,563.52,21395.0,40578.0,NaN,NaN,337.0
2019-01-15,558.75,564.00,556.00,557.00,-9.75,559.53,14895.0,42098.0,NaN,NaN,300.0
2019-01-16,560.25,571.50,559.00,568.50,11.50,564.73,14058.0,43500.0,NaN,NaN,250.0
2019-01-17,567.25,568.75,557.50,563.50,-5.00,563.31,15560.0,44971.0,NaN,NaN,NaN
2019-01-18,568.50,577.50,566.50,574.00,10.50,571.18,16962.0,46177.0,NaN,NaN,NaN
2019-01-21,573.00,578.00,570.75,573.50,-0.50,574.22,7476.0,49235.0,NaN,NaN,134.0
2019-01-22,575.25,575.25,561.00,565.25,-8.25,566.52,18397.0,49797.0,NaN,NaN,50.0
2019-01-23,569.50,578.25,563.00,568.25,3.00,571.49,17687.0,55319.0,NaN,NaN,484.0
2019-01-24,568.25,571.50,562.25,567.75,-0.50,566.73,25524.0,58598.0,NaN,NaN,550.0
2019-01-25,568.75,574.25,565.00,569.25,1.50,569.08,20326.0,62474.0,NaN,NaN,NaN
2019-01-28,569.50,570.75,553.50,556.50,-12.75,559.70,15175.0,64854.0,NaN,NaN,250.0
2019-01-29,554.75,574.25,554.75,571.50,15.00,567.42,28713.0,64289.0,NaN,NaN,1703.0
2019-01-30,571.25,580.50,570.25,577.25,5.75,576.24,26447.0,69202.0,NaN,NaN,200.0
2019-01-31,576.50,583.00,567.25,580.50,3.25,577.59,31233.0,70886.0,NaN,NaN,1502.0
2019-02-01,569.50,581.75,564.25,575.75,-4.75,571.20,17700.0,72279.0,NaN,NaN,250.0

In [127]:
# total1 = join(gold.ts, sentiment.ts) 
gold.head()
sentiment.head()
len(gold)
# gold.head()
11935-10492

1443

In [152]:
import pandas as pd
concat = pd.concat([gold, sentiment,tenyear,inflation_index,stock_market_confidence,standandpoorscomposite,prime_residence_marketvalue,income_gains_last5_years,oil_futures], axis = 1, join = 'outer') #, ignore_index=False,
concat=concat.ffill().bfill()
concat=concat[1400:]
concat
# ['gold','sentiment','tenyearyield','inflation_index','market_confidence','sandp500','homevalue','incomegains','oil_futures']
# len(concat)
# concat
# print(concat.isnull().count())
# len(concat)
# concat.dropna()
# print(concat.isna().count())
concat.to_csv("total_economic_data1.csv")

In [89]:
df4 = gold.append(sentiment)
# df4.fillna(method='ffill')
df4=df4.ffill().bfill()
df4.columns

Index([u'Index', u'Value'], dtype='object')

In [ ]:
result = pd.concat([df1, df4], axis=1, join_axes=[df1.index])